<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>RR Bot</title>
</head>
<body>

  <div id="react-app">
    {{{content}}}
  </div>

  <script type="text/javascript" src="http://localhost:8081/js/app.js" defer>
  </script>

</body>
</html>
